
p {
  color:blue;
 
}
table,th,td{
     border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #96D4D4;
    padding: 15px;
  }
 .description{
    background-color: tomato;
  color: white;
  margin: 20px;
  padding: 20px;
 }
 #tML{
    background-color: lightblue;
 width: 30%;
 }
 canvas{
  border: 1px solid;
 }